<div class="Towa-Dsgvo-Plugin" id="Towa-Dsgvo-Plugin">
	<div class="Towa-Dsgvo-Plugin__wrapper">
		<div class="Towa-Dsgvo-Plugin__left">
			<h2 class="Towa-Dsgvo-Plugin__left__headline">{{ __('Cookies','towa-dsgvo-plugin') }}</h2>
			<div class="Towa-Dsgvo-Plugin__group-panels">
				{% for group in cookie_groups %}
					<div class="Towa-Dsgvo-Plugin__group-panel {{loop.first ? 'active'}}" role="tabpanel" id="TowaDsgvo-{{loop.index}}">
						<ul class="Towa-Dsgvo-Plugin__cookies">
							{% set groupindex = loop.index %}
							{% for cookie in group.cookies %}
							<li class="Towa-Dsgvo-Plugin__cookie">
								<div class="Towa-Dsgvo-Plugin__switch-wrapper">
									<div class="Towa-Dsgvo-Plugin__switch small">
										<input id="Towa-Dsgvo-Plugin-cookie-{{groupindex}}-{{loop.index}}" class="Towa-Dsgvo-Plugin__cookie__checkbox"  data-cookiename="{{cookie.link.title}}" type="checkbox"/>
										<span class="slider"></span>
									</div>
								</div>
								<div class="Towa-Dsgvo-Plugin__cookie-text">
									<label for="Towa-Dsgvo-Plugin-cookie-{{groupindex}}-{{loop.index}}" class="Towa-Dsgvo-Plugin__cookie__headline">{{ cookie.link.title }}</label>
									<p class="Towa-Dsgvo-Plugin__cookie__description">{{ cookie.description }}</p>
									<a href="{{ cookie.link.url }}" target="_blank">{{ __('Cookie policy of','towa-dsgvo-plugin') ~ cookie.link.title }}</a>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				{% endfor %}
			</div>
			<div class="Towa-Dsgvo-Plugin__buttons">
				<button class="Towa-Dsgvo-Plugin__save {{ custom_save_classes }}">{{ save_label }}</button>
				<button class="Towa-Dsgvo-Plugin__decline-all {{ custom_decline_classes }}">{{ decline_label }}</button>
				<button class="Towa-Dsgvo-Plugin__accept-all {{ custom_accept_classes }}">{{ accept_label }}</button>
			</div>
		</div>
		<div class="Towa-Dsgvo-Plugin__right">
			<div class="Towa-Dsgvo-Plugin__wysiwyg">
				{{ cookie_wysiwyg|raw }}
			</div>
			<nav class="Towa-Dsgvo-Plugin__groups">
				<ul>
					{% for group in cookie_groups %}
						{% include 'partial_cookie_group.twig' with {
							'index' : loop.index,
							'group': group
						} %}
					{% endfor %}
				</ul>
			</nav>
		</div>

</div>
<div id="TowaDsgvoScripts"></div>

